<head>
    <style>
        body{
            text-align:center;
        }
    </style>
</head>
<body>

<center>

    <h1> Faculty </h1>
    <%= link_to "Faculty", faculties_path %>
    <h1> Student </h1>
    <%= link_to "Books", students_path %>
</center>

</body>

